
[submodule "mavlink"]
	path = mavlink
	url = https://github.com/mavlink/mavlink.git
	branch = master
[submodule "ardupilot_wiki"]
	path = ardupilot_wiki
	url = https://github.com/ArduPilot/ardupilot_wiki.git
	branch = master
[submodule "qgroundcontrol"]
	path = qgroundcontrol
	url = https://github.com/mavlink/qgroundcontrol.git
	branch = master
[submodule "mavlink-devguide"]
	path = mavlink-devguide
	url = https://github.com/mavlink/mavlink-devguide.git
	branch = master
