[submodule "vendor/ardupilot_wiki"]
	path = vendor/ardupilot_wiki
	url = https://github.com/ArduPilot/ardupilot_wiki.git
	shallow = true
[submodule "vendor/qgroundcontrol"]
	path = vendor/qgroundcontrol
	url = https://github.com/mavlink/qgroundcontrol.git
	shallow = true
[submodule "vendor/mavlink-devguide"]
	path = vendor/mavlink-devguide
	url = https://github.com/mavlink/mavlink-devguide.git
	shallow = true
[submodule "vendor/mavlink"]
	path = vendor/mavlink
	url = https://github.com/mavlink/mavlink.git
	shallow = true
